:root {
  --PrimaryColor: hsl(199, 100%, 43%);
  --SecondryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(43, 100%, 43%), hsl(34, 94%, 45%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColordeam: hsl(0, 0%, 93%);
  --greytext: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 240);
  --cardBG: rgb(225, 225, 225);
  --mm: hsl(155, 70%, 30%);
  --cardHover: rgba(255, 255, 255);
  --mmm: hsl(155, 38%, 41%);
  --blackColor2: hsl(198, 19%, 45%);
  --blackColor6: hsl(198, 31%, 38%);
  --blackColor3: hsl(153, 29%, 33%);
}

.creatematchsection {
  margin-bottom: -12rem;
}
.creatematchsection .creatematchmain {
  height: 24rem;
  width: 30rem;
  transform: translate(5rem, 5rem);
  border-radius: 2rem;
  box-shadow: 10px 2px 3px --blackColor(140, 140, 141, 0.549);
  display: flex;
  gap: 2rem;
}
.creatematchsection .creatematchmain .txxt {
  color: white;
  padding-right: 1px;
  font-weight: 500;
  font-size: 16px;
}
.creatematchsection .creatematchmain .matchname .matchnameinp {
  width: 15rem;
  border: 0;
  border-bottom: 2px solid var(--greytext);
  outline: 0;
  font-size: 1.05rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s, padding-bottom 0.2s, font-weight 0.2s;
}
.creatematchsection .creatematchmain .matchname .matchnameinp::-moz-placeholder {
  color: gray;
}
.creatematchsection .creatematchmain .matchname .matchnameinp::placeholder {
  color: gray;
}
.creatematchsection .creatematchmain .matchname .matchnameinp:focus {
  padding-bottom: 6px;
  font-weight: 400;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
     border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
  border-image-slice: 1;
}
.creatematchsection .reservationdate .reservationdat {
  width: 13rem;
  border: 0;
  border-bottom: 2px solid var(--greytext);
  outline: 0;
  font-size: 1.05rem;
  color: gray;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s, padding-bottom 0.2s, font-weight 0.2s;
}
.creatematchsection .reservationdate .reservationdat:focus {
  padding-bottom: 6px;
  font-weight: 400;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
     border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
  border-image-slice: 1;
}
.creatematchsection .reservationdate .reservationdatt {
  width: 13rem;
  border: 0;
  border-bottom: 2px solid var(--greytext);
  outline: 0;
  font-size: 1.05rem;
  color: gray;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s, padding-bottom 0.2s, font-weight 0.2s;
  margin-left: 1rem;
}
.creatematchsection .reservationdate .reservationdatt:focus {
  padding-bottom: 6px;
  font-weight: 400;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
     border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
  border-image-slice: 1;
}

.chosefield .chosef {
  width: 13rem;
  border: 0;
  border-bottom: 2px solid var(--greytext);
  outline: 0;
  font-size: 1.05rem;
  color: gray;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s, padding-bottom 0.2s, font-weight 0.2s;
}
.chosefield .chosef:focus {
  padding-bottom: 6px;
  font-weight: 400;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
     border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
  border-image-slice: 1;
}

.descrip .descripp {
  width: 15rem;
  border: 0;
  border-bottom: 2px solid var(--greytext);
  outline: 0;
  font-size: 1.05rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s, padding-bottom 0.2s, font-weight 0.2s;
}
.descrip .descripp::-moz-placeholder {
  color: gray;
}
.descrip .descripp::placeholder {
  color: gray;
}
.descrip .descripp:focus {
  padding-bottom: 6px;
  font-weight: 400;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
     border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
  border-image-slice: 1;
}

.matchcrt {
  padding: 12.5px 30px;
  border: 0;
  height: 3rem;
  border-radius: 100px;
  background-color: hsl(173, 82%, 24%);
  color: #ffffff;
  font-weight: bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.matchcrt:hover {
  background-color: var(--mmy);
  box-shadow: 0 0 20px rgba(111, 197, 255, 0.3137254902);
  transform: scale(1.1);
}
.matchcrt:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}/*# sourceMappingURL=creatematch.css.map */