:root {
    --PrimaryColor: hsl(199, 100%, 43%);
    --SecondryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(43, 100%, 43%), hsl(34, 94%, 45%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColordeam: hsl(0, 0%, 93%);
    --greytext: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 240);
    --cardBG: rgb(225, 225, 225);
    --mm: hsl(155, 70%, 30%);
    --cardHover: rgba(255, 255, 255);
    --mmm: hsl(155, 38%, 41%);
    --blackColor2: hsl(198, 19%, 45%);
    --blackColor6: hsl(198, 31%, 38%);
    --blackColor3: hsl(153, 29%, 33%);

}

.creatematchsection {
    margin-bottom: -12rem;

    .creatematchmain {
        height: 24rem;
        width: 30rem;
        transform: translate(5rem,5rem);
        border-radius: 2rem;
        box-shadow: 10px 2px 3px --blackColor(140, 140, 141, 0.549);
        display: flex;
        gap: 2rem;


        

       

        .txxt{
            color: white;
            padding-right: 1px;
            font-weight: 500;
            font-size: 16px;
        }
        


        .matchname{
            .matchnameinp{

           width: 15rem;
                border: 0;
                border-bottom: 2px solid var(--greytext);
                outline: 0;
                font-size: 1.05rem;
                color: white;
                padding: 7px 0;
                background: transparent;
                transition: border-color 0.2s, padding-bottom 0.2s, font-weight 0.2s;
             

                &::placeholder {
                    color: gray;
                }

        
                &:focus {
                    padding-bottom: 6px;
                    font-weight: 400;
                    border-width: 3px;
                    border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
                    border-image-slice: 1;}


            }
        }
    }

    .reservationdate{
        .reservationdat{
            width: 13rem;
            border: 0;
            border-bottom: 2px solid var(--greytext);
            outline: 0;
            font-size: 1.05rem;
            color: gray;
            padding: 7px 0;
            background: transparent;
            transition: border-color 0.2s, padding-bottom 0.2s, font-weight 0.2s;
         

      
    
            &:focus {
                padding-bottom: 6px;
                font-weight: 400;
                border-width: 3px;
                border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
                border-image-slice: 1;}


        }
        .reservationdatt{
            width: 13rem;
            border: 0;
            border-bottom: 2px solid var(--greytext);
            outline: 0;
            font-size: 1.05rem;
            color: gray;
            padding: 7px 0;
            background: transparent;
            transition: border-color 0.2s, padding-bottom 0.2s, font-weight 0.2s;
            margin-left: 1rem;
         

      
    
            &:focus {
                padding-bottom: 6px;
                font-weight: 400;
                border-width: 3px;
                border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
                border-image-slice: 1;}


        }

        }


    }
    .chosefield{
        .chosef{
            width: 13rem;
            border: 0;
            border-bottom: 2px solid var(--greytext);
            outline: 0;
            font-size: 1.05rem;
            color: gray;
            padding: 7px 0;
            background: transparent;
            transition: border-color 0.2s, padding-bottom 0.2s, font-weight 0.2s;
         

    
            &:focus {
                padding-bottom: 6px;
                font-weight: 400;
                border-width: 3px;
                border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
                border-image-slice: 1;}


        }
        }


    
    .descrip{
        
        .descripp{
            width: 15rem;
            border: 0;
            border-bottom: 2px solid var(--greytext);
            outline: 0;
            font-size: 1.05rem;
            color: white;
            padding: 7px 0;
            background: transparent;
            transition: border-color 0.2s, padding-bottom 0.2s, font-weight 0.2s;
         

            &::placeholder {
                color: gray;
            }

    
            &:focus {
                padding-bottom: 6px;
                font-weight: 400;
                border-width: 3px;
                border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
                border-image-slice: 1;}


        }
    
    }
    .matchcrt{
        padding: 12.5px 30px;
        border: 0;
        height: 3rem;
        border-radius: 100px;
        background-color: hsl(173, 82%, 24%),;
        color: #ffffff;
        font-weight: bold;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
      
        &:hover {
          background-color: var(--mmy);
          box-shadow: 0 0 20px #6fc5ff50;
          transform: scale(1.1);
        }
      
        &:active {
          background-color: #3d94cf;
          transition: all 0.25s;
          -webkit-transition: all 0.25s;
          box-shadow: none;
          transform: scale(0.98);
        }
}
