:root {
    --PrimaryColor: hsl(199, 100%, 43%);
    --SecondryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(43, 100%, 43%), hsl(34, 94%, 45%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColordeam: hsl(0, 0%, 93%);
    --greytext: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 240);
    --cardBG: rgb(225, 225, 225);
    --mm: hsl(155, 70%, 30%);
    --cardHover: rgba(255, 255, 255);
    --mmm: hsl(155, 38%, 41%);
    --blackColor2: hsl(198, 19%, 45%);
    --blackColor6: hsl(198, 31%, 38%);
    --blackColor3: hsl(153, 29%, 33%);

}

.creatematchsection {
    transform: translateY(-3rem);
    

    .creatematchmain {
        height: 24rem;
        width: 45rem;
        margin: 0 auto;
        transform: translateY(5rem);
        border-radius: 2rem;
        border: solid 4px var(--mmy);
        box-shadow: 10px 2px 3px --blackColor(140, 140, 141, 0.549);
        background: rgb(56,56,56);

        

       

        .txxt{
            color: white;
            padding-right: 1px;
            font-weight: 500;
            font-size: 16px;
        }
        


        .matchname{
            transform: translate(3rem,2.1rem);
            .matchnameinp{

           width: 13rem;
                border: 0;
                border-bottom: 2px solid var(--greytext);
                outline: 0;
                font-size: 1.05rem;
                color: black;
                padding: 7px 0;
                background: transparent;
                transition: border-color 0.2s, padding-bottom 0.2s, font-weight 0.2s;
             

                &::placeholder {
                    color: gray;
                }

        
                &:focus {
                    padding-bottom: 6px;
                    font-weight: 400;
                    border-width: 3px;
                    border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
                    border-image-slice: 1;}


            }
        }
    }

    .reservationdate{
        transform: translate(20.5rem,-.40rem);
        .reservationdat{
            width: 13rem;
            border: 0;
            border-bottom: 2px solid var(--greytext);
            outline: 0;
            font-size: 1.05rem;
            color: gray;
            padding: 7px 0;
            background: transparent;
            transition: border-color 0.2s, padding-bottom 0.2s, font-weight 0.2s;
         

      
    
            &:focus {
                padding-bottom: 6px;
                font-weight: 400;
                border-width: 3px;
                border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
                border-image-slice: 1;}


        }

        }


    }
    .chosefield{
        transform: translate(3.5rem,1rem);
        .chosef{
            width: 30rem;
            border: 0;
            border-bottom: 2px solid var(--greytext);
            outline: 0;
            font-size: 1.05rem;
            color: gray;
            padding: 7px 0;
            background: transparent;
            transition: border-color 0.2s, padding-bottom 0.2s, font-weight 0.2s;
         

    
            &:focus {
                padding-bottom: 6px;
                font-weight: 400;
                border-width: 3px;
                border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
                border-image-slice: 1;}


        }
        }


    
    .descrip{
        transform: translate(5.5rem,0rem);
        
        .descripp{
            width: 32rem;
            height: 9rem;
            border-radius: 0.5rem;
            color: white;
            border: var(--whiteColor) solid 3px;
            font-size: 15px;

            background: rgb(56,56,56);
            &:focus{
                border: solid 2px var(--mmy);
                outline: none; 
    
            }


        }
    }
    .matchcrt{
        padding: .6rem 1.5rem;
        background: var(--gradientColor);
        border-radius: 3rem;
        border: none;
        outline: none;
        cursor: pointer;
        color: white;
        font-weight: 600;
        font-size: 15px;
        transform: translate(36.9rem, 12.7rem);
        width: 7rem;
        height: 2.6rem;
        &:hover{
            background:var(--PrimaryColor) ;
        }
    }
