:root {
  --PrimaryColor: hsl(199, 100%, 43%);
  --SecondryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(43, 100%, 43%), hsl(34, 94%, 45%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColordeam: hsl(0, 0%, 93%);
  --greytext: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 240);
  --cardBG: rgb(225, 225, 225);
  --mm: hsl(155, 70%, 30%);
  --cardHover: rgba(255, 255, 255);
  --mmm: hsl(155, 51%, 45%);
}

.mainmatch {
  width: 98%;
  transform: translate(25px, 20px);
}
.mainmatch .matchContent {
  justify-content: center;
  gap: 1.5rem;
}
.mainmatch .matchContent .singlematch {
  height: 100%;
  display: grid;
  row-gap: 10px;
  border-radius: 15px;
  align-items: center;
  background: var(--cardBG);
  box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
  overflow: hidden;
  border: solid 1px var(--whiteColor);
}
.mainmatch .matchContent .singlematch:hover {
  background: var(--mmm);
  box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
  transition: 0.3S ease;
}
.mainmatch .matchContent .singlematch .imageDiv {
  height: 180px;
  width: 100%;
  overflow: hidden;
}
.mainmatch .matchContent .singlematch .imageDiv .img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 2s ease;
}
.mainmatch .matchContent .singlematch .imageDiv:hover img {
  transform: scale(1.1);
}
.mainmatch .matchContent .singlematch .matchInfo {
  padding: 1rem;
}
.mainmatch .matchContent .singlematch .matchInfo .matchTitle {
  color: var(--blackColor);
  font-size: 1.25rem;
}
.mainmatch .matchContent .singlematch .matchInfo .matchcontinent {
  gap: 0.5rem;
}
.mainmatch .matchContent .singlematch .matchInfo .matchcontinent .matchicon {
  color: var(--textColor);
  font-size: 18px;
}
.mainmatch .matchContent .singlematch .matchInfo .matchcontinent .matchname {
  color: var(--textColor);
  font-weight: 400;
  font-size: 14px;
}
.mainmatch .matchContent .singlematch .matchInfo .matchfees {
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem 0;
  border-top: 1.5px solid var(--greytext);
  border-bottom: 1.5px solid var(--greytext);
}
.mainmatch .matchContent .singlematch .matchInfo .matchfees .matchgrade {
  color: var(--textColor);
  max-width: 100px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
}
.mainmatch .matchContent .singlematch .matchInfo .matchprice {
  font-size: 2rem;
  color: var(--blackColor);
}
.mainmatch .matchContent .singlematch .matchdesc {
  font-size: 13.5px;
  color: var(--textColor);
  font-weight: 500;
}
.mainmatch .matchContent .singlematch .matchbtn {
  margin-top: 1rem;
  color: var(--whiteColor);
  font-weight: 700;
  gap: 1.5rem;
  border-radius: 2rem;
  width: 7rem;
  height: 2.5rem;
  border: none;
  background: var(--gradientColor);
  transform: translatex(13rem);
}
.mainmatch .matchContent .singlematch .matchbtn .ta {
  transform: translate(25px, -1px);
}
.mainmatch .matchContent .singlematch .matchbtn .ta .matchicon {
  transform: translate(1px, 3px);
  align-self: center;
  font-size: 18px;
}

@media screen and (min-width: 500px) {
  .matchContent {
    grid-template-columns: repeat(4, 1fr);
  }
  .matchContent .singleDestination {
    height: auto;
  }
}/*# sourceMappingURL=match.css.map */