:root {
    --PrimaryColor: hsl(199, 100%, 43%);
    --SecondryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(43, 100%, 43%), hsl(34, 94%, 45%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(200, 27%, 30%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColordeam: hsl(0, 0%, 93%);
    --greytext: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 240);
    --cardBG: rgb(225, 225, 225);
    --mm: hsl(155, 70%, 30%);
    --cardHover: rgba(255, 255, 255);
    --mmm: hsl(155, 51%, 45%);
    --blackColor5: hsl(200, 21%, 40%);

}

.mainmatch {
    width: 98%;
    transform: translate(25px);

    .searchBar {
        width: 23rem;
        margin-bottom: 3rem;
        transform: translateX(5.7rem);
        height: 2.5rem;
        border: 0;
        border-bottom: 2px solid var(--greytext);
        outline: 0;
        font-size: 1.05rem;
        color: black;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s, padding-bottom 0.2s, font-weight 0.2s;


        &::placeholder {
            color: gray;
        }


        &:focus {
            padding-bottom: 6px;
            font-weight: 400;
            border-width: 3px;
            border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
            border-image-slice: 1;
        }

    }

    .icosearch {
        margin-left: 3.7rem;
        font-size: 1.5rem;
        transform: translateY(0.5rem);
        color: hsl(173, 82%, 24%), ;
    }


    .matchContent {
        justify-content: center;
      
        display: flex;
        .deleteButton{
            color: red;
            font-size: 1.5rem;
            width: 1rem;
            border:  none;
            background: transparent;
            cursor: pointer;
            margin-left:-1.2rem;
            transform: translate(1.5rem,-0.5rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-color: rgb(255, 95, 95);
            cursor: pointer;
            border: 2px solid rgb(255, 201, 201);
            transition-duration: 0.3s;
            position: relative;
            overflow: hidden;
          
            &:hover {
              background-color: rgb(255, 0, 0);
          
              .bin-top {
                transform: rotate(45deg);
              }
          
              .garbage {
                animation: throw 0.4s linear;
              }
            }
          
            &:active {
              transform: scale(0.9);
            }
          }
          
          .bin-bottom {
            width: 15px;
            z-index: 2;
          }
          
          .bin-top {
            width: 17px;
            transform-origin: right;
            transition-duration: 0.3s;
            z-index: 2;
          }
          
          .garbage {
            position: absolute;
            width: 14px;
            height: auto;
            z-index: 1;
            opacity: 0;
            transition: all 0.3s;
          }
          
          @keyframes throw {
            from {
              transform: translate(-400%, -700%);
              opacity: 0;
            }
            to {
              transform: translate(0%, 0%);
              opacity: 1;
            }
      
        }

        .singlematch {
            height: 2.7rem;
            width: 75rem;
            margin: 0 auto;
            margin-bottom: 0.6rem;
            border-radius: 2rem;
            align-items: center;
            background: hsl(173, 82%, 24%);
            box-shadow: 5 5px 5px rgba(140, 140, 141, 0.549);
            display: flex;

            &:hover {
                background: var(--blackColor5);
                box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
                transition: .3S ease;
                transform: translateX(-1rem);

            }

            .imageDiv {

                .imgg {
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 5rem;
                    margin-left: 1rem;
                    margin-top: 0.5rem;
                }

            }

            .matchInfo {
                display: flex;
                gap: 4rem;

                .matchTitle {
                    color: var(--whiteColor);
                    font-size: 1.3rem;
                    margin-top: 2.1rem;
                    margin-left: 1rem;
                    margin-right: 1rem;

                }

                .matchcontinent {
                    gap: .2rem;
                    margin-right: 3rem;

                    .matchicon {
                        color: var(--whiteColor);
                        font-size: 1.25rem;
                    }

                    .matchname {
                        color: var(--whiteColor);
                        font-weight: 400;
                        font-size: 1.25rem;

                    }
                }

                .matchfees {
                    justify-content: space-between;
                    padding: 1rem;
                    margin: 1rem 0;
                    gap: 1rem;

                    .matchgrade {
                        color: var(--whiteColor);
                        max-width: 100px;
                        line-height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 20px;
                        font-weight: 500;


                    }
                }

                .matchprice {
                    font-size: 1.75rem;
                    color: var(--whiteColor);
                }


            }

            .matchdesc {
                font-size: 13.5px;
                height: 5rem;
                color: var(--whiteColor);
                font-weight: 500;
                transform: translateY(2.3rem);
                margin-left: 2rem;
            }




        }

    }



}


@media screen and (min-width:500px) {

    .matchContent {
        grid-template-columns: repeat(1, 1fr);

        .singleDestination {
            height: auto;

        }
    }
}