:root {
    --PrimaryColor: hsl(199, 100%, 43%);
    --SecondryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(43, 100%, 43%), hsl(34, 94%, 45%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColordeam: hsl(0, 0%, 93%);
    --greytext: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 240);
    --cardBG: rgb(225, 225, 225);
    --mm: hsl(155, 70%, 30%);
    --cardHover: rgba(255, 255, 255);
    --mmm: hsl(155, 51%, 45%);
}

.match {
    width: 100%;
    


    .matchContent {
        justify-content: center;
        gap: 1.5rem;
        

        .singleMatch {
            height: 100%;
            display: grid;
            row-gap: 10px;
            // padding: 1rem;
            border-radius: 10px;
            align-items: center;
            background: var(--cardBG);
            box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
            overflow: hidden;

            &:hover {
                background: var(--mmm);
                box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
                transition: .3S ease;

            }

            .imageMatch {
                height: 180px;
                width: 100%;
                overflow: hidden;

                .img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    transition: 2s ease;
                }
                &:hover{
                    img{
                        transform: scale(1.1);
                    }
                }
            }
            .matchInfo{
                padding: 1rem;
                .matchTitle{
                    color: var(--blackColor);
                    font-size: 1.25rem;

                }
                .continentMatch{
                    gap: .5rem;

                    .matchIcon{
                        color: var(--textColor);
                        font-size: 18px;
                    }
                    .name{
                        color: var(--textColor);
                        font-weight: 400;
                        font-size: 14px;
                        
                    }
                }
                .matchFees{
                    width: 100%;
                    justify-content: space-between;
                    padding: 1rem;
                    margin: 1rem 0;
                    border-top: 1.5px solid var(--greytext);
                    border-bottom: 1.5px solid var(--greytext);
                    
                    .matchGrade{
                        color: var(--textColor);
                        max-width: 100px;
                        line-height: 20px; 
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 20px;
                        font-weight: 500 ;


                        }
                    }
                    .matchPrice{
                        font-size: 2rem;
                        color: var(--blackColor);
                    }


                }
                .matchDesc{
                    font-size: 13.5px;
                    color: var(--textColor);
                    font-weight: 500 ;
                }
                .matchBtn{
                    margin-top: 1rem;
                    color: var(--whiteColor);
                    font-weight: 600;
                    justify-content:space-between;
                    gap: .5rem;
                    .matchIcon{
                        align-self: center;
                        font-size: 18px;

                    }
                }


            }

        }



    }


@media screen and (min-width:500px) {
  
    .matchContent{
        grid-template-columns: repeat(4,1fr);
        
        .singlematch{
            height: auto;

        }
    }
}