:root {
    --PrimaryColor: hsl(199, 100%, 43%);
    --SecondryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(43, 100%, 43%), hsl(34, 94%, 45%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColordeam: hsl(0, 0%, 93%);
    --greytext: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 240);
    --cardBG: rgb(225, 225, 225);
    --mm: hsl(155, 70%, 30%);
    --cardHover: rgba(255, 255, 255);
    --mmm: hsl(155, 38%, 41%);
    --blackColor2: hsl(198, 19%, 45%);

}



.popmtch {
    width: 20rem;
    height: 5rem;
    border-radius: 2rem;
    color: white;
    box-shadow: 3px 3px 4px rgba(140, 140, 141, 0.549);
    border: 3px solid white;
    cursor: pointer;
    margin-top: 9rem;
    transform: translate(73rem);
    background: var(--gradientColor);
    font-size: 27px;
    font-weight: 600;

    &:hover {
        background: var(--mm);
    }
}