:root {
    --PrimaryColor: hsl(199, 100%, 43%);
    --SecondryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(43, 100%, 43%), hsl(34, 94%, 45%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColordeam: hsl(0, 0%, 93%);
    --greytext: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 240);
    --cardBG: rgb(225, 225, 225);
    --mm: hsl(155, 51%, 45%);
}

;

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--whiteColor);
    width: 100%;
    padding: 1rem;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.242);


    .logo {
        color: var(--blackColor);
        font-weight: 600;
        cursor: pointer;
        align-items: center;
        justify-content: center;

        .icon {
            font-size: 25px;
            color: var(--blackColor);
            transform: translateY(5px);
        }
    

    }

    @media screen and (max-width : 768px) {
        .navBar {
            position: absolute;
            background: var(--whiteColordeam);
            height: max-content;
            width: 80%;
            border-radius: 1rem;
            top: -500rem;
            left: 50%;
            padding: 1rem;
            transform: translate(-50%);
            z-index: 2000;
            box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
            transition: .5s ease-in-out;

            .navLists {
                flex-direction: column;
                justify-content: center;
                width: 100%;
                margin: auto;
                padding: .5rem  0;

                .navItem {
                    padding: .5rem  0;

                    .navLink {
                        color: var(--textColor);
                        font-size: .9rem;
                        font-weight: 600;

                        &:hover {
                            color: var(--mm);
                        }
                    
                    }

                }

                .btns{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: 45px;
                    height: 45px;
                    border: none;
                    border-radius: 50%;
                    cursor: pointer;
                    position: relative;
                    overflow: hidden;
                    transition-duration: 0.3s;
                    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
                    background-color: rgb(163, 142, 255);
                  
                    /* plus sign */
                    .sign {
                      width: 100%;
                      transition-duration: 0.3s;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                  
                      svg {
                        width: 17px;
                        path {
                          fill: white;
                        }
                      }
                    }
                  
                    /* text */
                    .text {
                      position: absolute;
                      right: 0%;
                      width: 0%;
                      opacity: 0;
                      color: white;
                      font-size: 1.2em;
                      font-weight: 600;
                      transition-duration: 0.3s;
                    }
                  
                    /* hover effect on button width */
                    &:hover {
                      width: 125px;
                      border-radius: 40px;
                      transition-duration: 0.3s;
                  
                      .sign {
                        width: 30%;
                        transition-duration: 0.3s;
                        padding-left: 20px;
                      }
                  
                      /* hover effect button's text */
                      .text {
                        opacity: 1;
                        width: 70%;
                        transition-duration: 0.3s;
                        padding-right: 10px;
                      }
                    }
                  
                    /* button click effect */
                    &:active {
                      transform: translate(2px, 2px);
                    }
                }
            }

            .closeNavbar {
                position: absolute;
                top: 1rem;
                right: 1.5rem;
                color: var(--blackColor);

                &:hover {
                    color: var(mm);
                }

            }

        }

        .activeNavbar {
            top: 7rem;

        }
    }

    .toggleNavbar {
        .icon {
            font-size: 25px;
            color: var(--blackColor);
        }

        &:hover.icon {
            color: var(--mm);
        }

    }
}
@media screen and (min-width:769px)  {
    .toggleNavbar,.closeNavbar{
        display: none;
    }
    .header{
        padding: 1.5rem 2rem;

        .navBar{
            .navLists{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                .navItem{
                    .navLink{
                        color:var(--textColor);
                        padding: 0 3rem;
                        font-size: 0.9rem;
                        font-weight: 500;
                        cursor: pointer;
                        &:hover{
                            color:var(--mm) ;
                        }

                    }
                }
                .btns{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: 45px;
                    height: 45px;
                    border: none;
                    border-radius: 50%;
                    cursor: pointer;
                    position: relative;
                    overflow: hidden;
                    transition-duration: 0.3s;
                    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
                    background-color: var(--mmy);
                  
                    /* plus sign */
                    .sign {
                      width: 100%;
                      transition-duration: 0.3s;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                  
                      svg {
                        width: 17px;
                        path {
                          fill: white;
                        }
                      }
                    }
                  
                    /* text */
                    .text {
                      position: absolute;
                      right: 0%;
                      width: 0%;
                      opacity: 0;
                      color: white;
                      font-size: 1.2em;
                      font-weight: 600;
                      transition-duration: 0.3s;
                    }
                  
                    /* hover effect on button width */
                    &:hover {
                      width: 125px;
                      border-radius: 40px;
                      transition-duration: 0.3s;
                  
                      .sign {
                        width: 30%;
                        transition-duration: 0.3s;
                        padding-left: 20px;
                      }
                  
                      /* hover effect button's text */
                      .text {
                        opacity: 1;
                        width: 70%;
                        transition-duration: 0.3s;
                        padding-right: 10px;
                      }
                    }
                  
                    /* button click effect */
                    &:active {
                      transform: translate(2px, 2px);
                    }
                }
            }
        }
    }
    
}