:root {
    --PrimaryColor: hsl(199, 100%, 43%);
    --SecondryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(43, 100%, 43%), hsl(34, 94%, 45%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColordeam: hsl(0, 0%, 93%);
    --greytext: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 240);
    --cardBG: rgb(225, 225, 225);
    --mm: hsl(155, 70%, 25%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.main-footer {
    padding: 70px 0;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--mm);

    ul {
        list-style: none;
    }

    h1 {
        font-size: 22px;
        line-height: 117%;
        color: #ffffff;
        margin-bottom: 10px;
        font-weight: 500;
    }

    h2 {
        color: #ffffff;
        font-weight: 500;
    }

    ul li a {
        color: #ffffffcc;
        text-decoration: none;
    }
}

footer {
    background-color: #19302E;
    border-top: 1px solid #6EB981;
    font-size: 17px;
    padding: 15px 5px;
    color: #ffffff;
    text-align: center;

    a {
        text-decoration: none;
        color: #ffffff;
        
    }
}

.logoinfo p {
    color: var(--greytext);
    font-size: 17px;
    margin-top: 5px;
}

.contact-details {
    list-style: none;
    margin: 10px 0;

    li a {
        text-decoration: none;
        color: #f1f1f1;
    }

    .fa {
        color: #f1f1f1;
        margin-right: 10px;
    }
}

.sociallogos {
    padding: 20px 0;

    .logobox a {
        padding: 0 10px;
        text-decoration: none;
        color: #ffffff;
        font-size: 22px;
    }
}

.com ul li {
    padding: 5px 0;
    
}

@media only screen and (max-width: 749px) {
    .main-footer {
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .info {
        padding: 20px 0;
    }
}

@media (max-width: 480px) {
    .main-footer {
        grid-template-columns: 1fr;
    }

    .sociallogos {
        padding: 20px 0;
    }

    .com {
        padding: 20px 0;
           
    }
}
