:root {
    --PrimaryColor: hsl(199, 100%, 43%);
    --SecondryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(43, 100%, 43%), hsl(34, 94%, 45%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColordeam: hsl(0, 0%, 93%);
    --greytext: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 240);
    --cardBG: rgb(225, 225, 225);
    --mm: hsl(155, 27%, 45%);
    --cardHover: rgba(255, 255, 255);
    --mmm: hsl(155, 51%, 45%);
    --mmy: hsl(43, 100%, 43%);
    --mmr: hsl(0, 57%, 53%);
    --blackColor2: hsl(198, 19%, 45%);
    --whiteColordeam2: hsl(0, 60%, 99%);
    --blackColor3: hsl(153, 29%, 33%);




}




.accountinfo {
    transform: translate(0, 5rem);
    width: 100%;

    .accountinfffo {

        width: 100%;
        height: flex;
        border-radius: 3rem;



        .topinfo {
            height: 11rem;
            width: 70rem;
            border: solid 4px white;
            transform: translate(14rem, 1rem);
            background: hsl(173, 82%, 24%);
            border-radius: 3rem;
            margin-bottom: 2rem;


            .profileeimg {
                width: 11rem;
                height: 11rem;
                border: solid 5px hsl(173, 82%, 24%);
                border-radius: 50%;
                margin-top: 0.8rem;
                margin-left: -9rem;
                transform: translate(2rem, -1.2rem);


            }

            .profnamme {
                color: white;
                font-size: 60px;
                transform: translate(4.5rem, -10rem);
                font-weight: 600;

            }
        }

        .mainaccount {
            display: flex;
            gap: 3rem;
            width: 100%;

            .accounattrb {
                box-shadow: 0 3px 4px rgba(2, 15, 29, 0.242);
                background: rgb(40, 40, 40);
                margin-left: 3rem;

                border-radius: 3rem;
                width: 27rem;
                height: 25rem;
                margin-top: 3rem;
                margin-bottom: 2rem;

                .detailsprof {
                    transform: translate(1.5rem, 1rem);
                    color: hsl(173, 82%, 24%);
                    margin-top: 2rem;
                    font-size: 15px;
                }

                .updtbtn {
                    background: var(--mmy);
                    height: 2.5rem;
                    width: 12rem;
                    transform: translate(3.5rem, 4rem);
                    border-radius: 2rem;
                    border: white solid 2px;

                    .updd {
                        color: white;
                    }


                }

            }

            .pub {


                width: 50rem;
                height: flex;
                border-radius: 1rem;
                margin-top: 1.5rem;

                .postContentt {
                    justify-content: center;
                    gap: 1.5rem;
                    margin-bottom: 5rem;

                    .singlepostt {
                        height: flex;
                        margin-top: 1.5rem;
                        width: 35rem;
                        row-gap: 10px;
                        border-radius: 1.5rem;
                        align-items: center;
                        box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
                        overflow: hidden;
                        background: var(--cardBG);

                        .postcrtpicc {
                            .imgaa {
                                border-radius: 50%;
                                height: 45px;
                                width: 45px;
                                transform: translate(0.65rem, 0.8rem);
                                border: 3px solid hsl(173, 82%, 24%);
                            }
                        }

                        .postcreatorr {
                            transform: translate(4.6rem, -2.3rem);
                            font-size: 19px;
                            color: rgb(39, 39, 39);
                            font-weight: 500
                        }

                        .contentdivv {
                            width: 39.9rem;
                            border-bottom: 1.5px solid var(--whiteColor);
                            border-radius: 0.11rem;

                            height: flex;
                            transform: translate(0px, -11px);

                            .descc {
                                font-size: 17px;
                                color: rgb(39, 39, 39);
                                font-weight: 400;
                                padding-left: 1.5rem;
                                padding-right: 1.5rem;
                                padding-top: 1rem;
                                padding-bottom: 1.5rem;


                            }

                            .postpicc {
                                .imgbb {
                                    height: 23rem;
                                    width: 36rem;
                                    transform: translate(0.8rem, -1rem);
                                    border-radius: 1.9rem;

                                }
                            }
                        }
                    }
                }

            }

            .matchaccount {
                transform: translateY(3rem);
                width: 38rem;
                margin-left: -3rem;

                .tablematchaccount {
                    width: 23rem;
                    border-radius: 1.5rem;
                    background: rgb(40,40,40);


                    .tabthead {
                        color: white;
                        height: 5.5rem;
                        


                        .tabhhead {
                            transform: translate(0rem);
                        }
                    }
                    .tbodyy{
                        height: 5rem;
                        transform: translate(1.5rem);
                        color: white;
                        .linkk{
                            color: white;
                        }
                        .imgaccc{
                            border-radius: 50rem;
                            width: 5rem;
                            height: 5rem;
                        }

                             }
                }
            }
        }
    }
}