:root {
    --PrimaryColor: hsl(199, 100%, 43%);
    --SecondryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(43, 100%, 43%), hsl(34, 94%, 45%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColordeam: hsl(0, 0%, 93%);
    --greytext: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 240);
    --cardBG: rgb(225, 225, 225);
    --mm: hsl(155, 27%, 45%);
    --cardHover: rgba(255, 255, 255);
    --mmm: hsl(155, 51%, 45%);
    --mmy: hsl(43, 100%, 43%);
    --mmr: hsl(0, 57%, 53%);
    --blackColor2: hsl(198, 19%, 45%);
    --whiteColordeam2: hsl(0, 60%, 99%);
    --blackColor3: hsl(153, 29%, 33%);




}




.accountinfo {
    transform: translate(0, 7rem);
    width: 100%;
    .deleteButtons{
        transform: translate(36rem,-3rem);
        font-size: 1.1rem;
        border: none;
        background: transparent;
        color: red;
        cursor: pointer;
    }

    .accountinfffo {

        width: 100%;
        height: flex;
        border-radius: 3rem;

        .filter {
            width: 50px;
            height: 50px;
            border-radius: 10px;
            transform: translate(85rem,-8.5rem);
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid rgba(0, 0, 0, 0.192);
            cursor: pointer;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.021);
            transition: all 0.3s;
            background: var(--mmm);
          
            svg {
              height: 16px;
              fill: white;
              transition: all 0.3s;
            }
          
            &:hover {
              box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.11);
              background-color: white;
          
              svg {
                fill: rgb(77, 77, 77);
              }
            }
          }
          

        .topinfo {
            height: 10rem;
            width: 95%;
            background: rgb(40,40,40);
            box-shadow: 7px 7px 10px 10px rgba(140, 140, 141, 0.549);
            border: 3px white solid;

            margin-bottom: 2rem;
            border-radius: 4rem;
            display: flex;
          
            margin-left: 2.25rem;
         



            .profileeimg {
                width: 8.3rem;
                height: 8.3rem;
                border: solid 5px var(--cardBG);
                border-radius: 50%;
                margin-top: 0.8rem;
                transform: translate(2rem, 0rem);
                margin-right: 3.5rem;
                
                


            }

            .profnamme {
                color: white;
                font-size: 50px;
                font-weight: 600;
                transform: translateY(2rem);
                margin-right: 30rem;


            }
        }

        .mainaccount {
            display: flex;
            gap: 3rem;
            width: 100%;
            transform: translateY(-3.6rem);

            .accounattrb {
                box-shadow: 5px 5px 7px 7px rgba(140, 140, 141, 0.549);
                background: rgb(40, 40, 40);
                margin-left: 3rem;

                border-radius: 3rem;
                width: 27rem;
                height: 22rem;
                margin-top: 3rem;
                margin-bottom: 2rem;

                .detailsprof {
                    transform: translate(1.9rem, 1rem);
                    color: white;
                    margin-top: 2rem;
                    font-size: 15px;
                }



            }

            .pub {
                


                width: 50rem;
                height: flex;
                border-radius: 1rem;
                margin-top: 1.5rem;
                .postbtnsdiv {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    height: 2.9rem;
                    border-bottom: solid gray 1.5px;
                    border-top: solid gray 1.5px;
                
    
                    
                    width: 95%;
                    margin: 0 auto;
                    
    
    
    
                    .postbtns {
                        border-radius: 50rem;
                        width: 2.9rem;
                        height: 2.4rem;
                        outline: none;
                        cursor: pointer;
                        background: transparent;
                        border: none;
                        margin: 6.5rem;
                        transform: translateY(0.3rem);
                        display: flex;
                        .likesnumber{
                            color: gray;
                            font-size: 23px;
                            font-weight: 400;
                            margin-top: -0.2rem;
                            margin-left: .1rem;
                            &:hover {
                                color: var(--mmr);
                            }
    
    
    
                        }
                        
    
    
    
                        .postico {
                            color: gray;
                            font-size: 25px;
    
                            &:hover {
                                color: var(--mmr);
                            }
                        }
    
                        .postico2 {
                            color: gray;
                            font-size: 25px;
    
                            &:hover {
                                color: var(--mm);
                            }
                        }
    
                    }
                }

                .postContentt {
                    gap: 1.5rem;
                    margin-bottom: 5rem;

                    .singlepostt {
                        height: flex;
                        margin-top: 1.5rem;
                        width: 38rem;
                        row-gap: 10px;
                        border-radius: 1.5rem;
                        align-items: center;
                        box-shadow: 7px 7px 10px 10px rgba(140, 140, 141, 0.549);
                        overflow: hidden;
                        background: var(--whiteColor);

                        .postcrtpicc {
                            .imgaa {
                                border-radius: 50%;
                                height: 45px;
                                width: 45px;
                                transform: translate(0.65rem, 0.8rem);
                                border: 3px solid hsl(173, 82%, 24%);
                            }
                        }

                        .postcreatorr {
                            transform: translate(4.6rem, -2.3rem);
                            font-size: 19px;
                            color: rgb(39, 39, 39);
                            font-weight: 500
                        }

                        .contentdivv {
                            width: 39.9rem;
                            border-bottom: 1.5px solid var(--whiteColor);
                            border-radius: 0.11rem;

                            height: flex;
                            transform: translate(0px, -11px);

                            .descc {
                                font-size: 17px;
                                color: rgb(39, 39, 39);
                                font-weight: 400;
                                padding-left: 1.5rem;
                                padding-right: 1.5rem;
                                padding-top: 1rem;
                                padding-bottom: 1.5rem;


                            }

                            .postpicc {
                                margin: 0 auto;
                                .imgbb {
                                    height: 23rem;
                                    width: 35rem;
                                    transform: translate(1.5rem, -1rem);
                                    border-radius: 1.9rem;
                                    margin: 0 auto;

                                }
                            }
                        }
                    }
                }

            }

            .matchaccount {
                transform: translateY(3rem);
                width: 38rem;

                .match-list {
                    width: 25rem;
                    border-radius: 1.5rem;
                    display: block;
                    background: rgb(40, 40, 40);
                    padding: 0.5rem;



                    .match-item {
                        color: white;
                        height: 3rem;
                        display: flex;
                        margin-bottom: 0.5rem;
                        background: hsl(173, 82%, 24%);
                        border-radius: 3rem;

                        .imgaccc{
                            border-radius: 50rem;
                            height: 2.8rem;
                            width: 3rem;

                            margin-right: 1rem;
                            margin-left:0.5rem ;
                            margin-top: 0.1rem;
                            

                        }
                        .linkk{
                            color: white;
                            transform: translateY(0.5rem);
                            font-size: 1.2rem;

                        }
                        .db{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: 2rem;
                            height: 2rem;
                            border-radius: 50%;
                            background-color: rgb(255, 95, 95);
                            transform: translate(1rem,0.4rem);
                            cursor: pointer;
                            border: 2px solid rgb(255, 201, 201);
                            transition-duration: 0.3s;
                            position: relative;
                            overflow: hidden;
                          
                            &:hover {
                              background-color: rgb(255, 0, 0);
                          
                              .bin-top {
                                transform: rotate(45deg);
                              }
                          
                              .garbage {
                                animation: throw 0.4s linear;
                              }
                            }
                          
                            &:active {
                              transform: scale(0.9);
                            }
                          }
                          
                          .bin-bottom {
                            width: 15px;
                            z-index: 2;
                          }
                          
                          .bin-top {
                            width: 17px;
                            transform-origin: right;
                            transition-duration: 0.3s;
                            z-index: 2;
                          }
                          
                          .garbage {
                            position: absolute;
                            width: 14px;
                            height: auto;
                            z-index: 1;
                            opacity: 0;
                            transition: all 0.3s;
                          }
                          
                          @keyframes throw {
                            from {
                              transform: translate(-400%, -700%);
                              opacity: 0;
                            }
                            to {
                              transform: translate(0%, 0%);
                              opacity: 1;
                            }
                        }
                        &:hover{
                            background: var(--mmy);
                            border-radius: 3rem;
                        }


                        
                    }
                
                }
            }
        }
    }
}