:root {
    --PrimaryColor: hsl(199, 100%, 43%);
    --SecondryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(43, 100%, 43%), hsl(34, 94%, 45%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColordeam: hsl(0, 0%, 93%);
    --greytext: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 240);
    --cardBG: rgb(225, 225, 225);
    --mm: hsl(155, 27%, 45%);
    --cardHover: rgba(255, 255, 255);
    --mmm: hsl(155, 51%, 45%);
    --mmy: hsl(43, 100%, 43%);
    --mmr: hsl(0, 57%, 53%);
    --blackColor2: hsl(198, 19%, 45%);
    --whiteColordeam2: hsl(0, 60%, 99%);
    --blackColor3: hsl(153, 29%, 33%);
    --mmx: hsl(43, 50%, 57%);




}

.sidsection{

    width: 11rem; 
    height:46rem;
  
    border-right: solid white 5px;
    border-bottom:solid white    2px; ;
    background: rgb(40, 40, 40);;



    border-bottom-right-radius:2rem ;

    .sidebaritems{
        margin-left:1.3rem;

        
    .sidebaritemgroup{


    
        margin-right: 1rem;
        margin-top: 1.5rem;
        display: block;
        .imgproff{
            border: 4.5px solid white;
            border-radius:50rem;
            width: 5.8rem;
            transform: translate(0.5rem,0.5rem);
            margin-bottom: 2rem;
        }




        .sidebaritem{

           margin-bottom: 2rem;

           
            width: 8rem;
         
            color: white;
            font-size: 21px;
            
            &:hover{
                background: var(--mmy);
                border-radius:1rem ;
           

            

        .sidebaricon{
          

        }

        .sidebarlabel{
            color:  white;
       
            margin-left: 0.5rem;
            font-size: 21px;
            font-weight: 500;
          
        }}

    }
        
    }
}}