:root {
    --PrimaryColor: hsl(199, 100%, 43%);
    --SecondryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(43, 100%, 43%), hsl(34, 94%, 45%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColordeam: hsl(0, 0%, 93%);
    --greytext: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 240);
    --cardBG: rgb(225, 225, 225);
    --mm: hsl(155, 51%, 45%);
    --gradientColorm: linear-gradient(to right, hsl(199, 100%, 41%), hsl(199, 100%, 43%));
    --yyyy: hsl(199, 50%, 53%);
}

.tabsec {
    padding: 0.75rem;
    table-layout: auto;
    margin-top: 5rem;
    margin-left: 1rem;



    .tabs {
        min-width: 100%;
        border:2px solid var(--whiteColor) ;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        border-radius: 2rem;
        margin-top: 2rem;


        .tabattrb {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-right: 1rem;
            border-bottom: solid white 2px;
            color:  white;          
           

        }

        .ms {
            border-bottom-width: 5px solid var(--blackColor);
            

            .mrp {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                padding-left: 4.5rem;
                padding-right: 1rem;
                color:white;
                

                .mrppic {
                    object-fit: cover;
                    height: 2.5rem;

                }

             

                .deltemrp {
                    font-weight: 500;
                    color: orange;
                    cursor: pointer;
                    transform: translate(1rem);
                  

           

                }

            }

        }

    }
}