:root {
    --PrimaryColor: hsl(199, 100%, 43%);
    --SecondryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(43, 100%, 43%), hsl(34, 94%, 45%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColordeam: hsl(0, 0%, 93%);
    --greytext: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 240);
    --cardBG: rgb(225, 225, 225);
    --mm: hsl(155, 27%, 45%);
    --cardHover: rgba(255, 255, 255);
    --mmm: hsl(155, 51%, 45%);
    --mmy: hsl(43, 100%, 43%);
    --mmr: hsl(0, 57%, 53%);
    --blackColor2: hsl(198, 19%, 45%);
    --whiteColordeam2: hsl(0, 60%, 99%);
    --blackColor3: hsl(153, 29%, 33%);




}

.demande {
  width: 100%;
  height: 40rem;
  margin-bottom: 15rem;

    .selectedd {
        height: 10rem;
        width: 10rem;
        transform: translate(20rem, -16.5rem);
        border-radius: 2rem;
        border: 3px dotted var(--mm);

    }

    .vidm {
        position: absolute;
        height: 100%;
        width: 61rem;
        overflow: hidden;
        transform: translate(-8.1rem,-8.15rem);
        border-top-left-radius: 3rem;
        border-bottom-left-radius: 3rem;


        .vidmm {
            position: absolute;
            width: 22.4rem;
          


        }
    }




    .demandeform {
        
        width: 70rem;
        height: 39.8rem;
        background: var(--cardBG);
        border-top-right-radius: 3rem;
        border-bottom-right-radius: 3rem;
        box-shadow: 0 2px 4px rgba(2, 15, 29, 0.242);
        padding: 130px;
        margin: 0 auto;
        transform: translateY(8rem);
        border-top-left-radius: 3rem;
        border-bottom-left-radius: 3rem;


        .orattrb {
            width: 12.4rem;
            border: 0;
            border-bottom: 2px solid var(--greytext);
            outline: 0;
            font-size: 1.05rem;
            color: black;
            padding: 7px 0;
            background: transparent;
            transition: border-color 0.2s, padding-bottom 0.2s, font-weight 0.2s;
            transform: translate(15rem,-7rem);


            &::placeholder {
                color: gray;
            }


            &:focus {
                padding-bottom: 6px;
                font-weight: 400;
                border-width: 3px;
                border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
                border-image-slice: 1;
            }


        }

        .ownerattrb {


            margin: 0 auto;
            width: 70%;
            height: 5rem;
            border-radius: 1rem;
            display: flex;
            gap: 4rem;
            margin-left: 1rem;
            margin-top: 2rem;




        }

        .fieldattrb {
            transform: translate(15rem,-2rem);
            margin-left: 1rem;

            .fiettrb {
                transform: translateY(-5rem);

                width: 15rem;
                border: 0;
                border-bottom: 2px solid var(--greytext);
                outline: 0;
                font-size: 1.05rem;
                color: black;
                padding: 7px 0;
                background: transparent;
                transition: border-color 0.2s, padding-bottom 0.2s, font-weight 0.2s;
                margin-bottom: 2rem;

                &::placeholder {
                    color: gray;
                }


                &:focus {
                    padding-bottom: 6px;
                    font-weight: 400;
                    border-width: 3px;
                    border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
                    border-image-slice: 1;
                }

            }
            .fiettrbn{
                transform: translate(-5.5rem,-5rem);

                width: 37rem;
                border: 0;
                border-bottom: 2px solid var(--greytext);
                outline: 0;
                font-size: 1.05rem;
                color: black;
                padding: 7px 0;
                background: transparent;
                transition: border-color 0.2s, padding-bottom 0.2s, font-weight 0.2s;

                &::placeholder {
                    color: gray;
                }


                &:focus {
                    padding-bottom: 6px;
                    font-weight: 400;
                    border-width: 3px;
                    border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
                    border-image-slice: 1;
                }
            }


            .ttxtt {
                color: var(--whiteColor);
                font-size: 22px;
                font-family: 600;
                transform: translatey(30px);


            }

            .tagimgg{
                font-size: 25px;
                color: hsl(173, 82%, 24%);

            }

            .demandedesc {
                transform: translate(-5.5rem,-5rem);

                width: 37rem;
                border: 0;
                border-bottom: 2px solid var(--greytext);
                outline: 0;
                font-size: 1.05rem;
                color: black;
                padding: 7px 0;
                background: transparent;
                transition: border-color 0.2s, padding-bottom 0.2s, font-weight 0.2s;
                margin-left: 5.4rem;

                &::placeholder {
                    color: gray;
                }


                &:focus {
                    padding-bottom: 6px;
                    font-weight: 400;
                    border-width: 3px;
                    border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
                    border-image-slice: 1;
                }

            }

            .btdemande {
                transform: translate(34.5rem ,);
                margin-bottom: 5rem;
                width: 10rem;
                height: 3rem;
                border: none;
                background: var(--gradientColor);
                box-shadow: 1px 1px 4px var(--greytext);
                color: white;
                font-weight: 600;
                font-size: 18px;
                border-radius: 2rem;
                cursor: pointer;

                &:hover {
                    background: var(--mm);
                }


            }


        }
    }
}