:root {
  --PrimaryColor: hsl(199, 100%, 43%);
  --SecondryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(43, 100%, 43%), hsl(34, 94%, 45%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColordeam: hsl(0, 0%, 93%);
  --greytext: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 240);
  --cardBG: rgb(225, 225, 225);
  --mm: hsl(155, 27%, 45%);
  --cardHover: rgba(255, 255, 255);
  --mmm: hsl(155, 51%, 45%);
  --mmy: hsl(43, 100%, 43%);
  --mmr: hsl(0, 57%, 53%);
  --blackColor2: hsl(198, 19%, 45%);
  --whiteColordeam2: hsl(0, 60%, 99%);
  --blackColor3: hsl(153, 29%, 33%);
}

.demande {
  width: 80%;
  height: 100;
}
.demande .selectedd {
  height: 10rem;
  width: 10rem;
  transform: translate(29rem, -7rem);
  display: inline;
  border-radius: 2rem;
  border: 3px dotted var(--mm);
}
.demande .vidm {
  position: absolute;
  height: 100%;
  width: 61rem;
  overflow: hidden;
}
.demande .vidm .vidmm {
  position: absolute;
  width: 22.4rem;
}
.demande .demandeform {
  width: 64rem;
  height: 39.8rem;
  background: white;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  box-shadow: 0 2px 4px rgba(2, 15, 29, 0.242);
  transform: translate(15rem);
}
.demande .demandeform .orattrb {
  width: 10rem;
  border: 0;
  border-bottom: 2px solid var(--greytext);
  outline: 0;
  font-size: 1.05rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s, padding-bottom 0.2s, font-weight 0.2s;
  transform: translate(23rem, -7rem);
}
.demande .demandeform .orattrb::-moz-placeholder {
  color: gray;
}
.demande .demandeform .orattrb::placeholder {
  color: gray;
}
.demande .demandeform .orattrb:focus {
  padding-bottom: 6px;
  font-weight: 400;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
     border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
  border-image-slice: 1;
}
.demande .demandeform .ownerattrb {
  margin: 0 auto;
  transform: translateY(9rem);
  width: 70%;
  height: 5rem;
  border-radius: 1rem;
  display: flex;
  gap: 4rem;
  margin-left: 1rem;
  margin-top: 2rem;
}
.demande .demandeform .fieldattrb {
  transform: translate(23rem, 7.5rem);
  margin-left: 1rem;
}
.demande .demandeform .fieldattrb .fiettrb {
  transform: translateY(-5rem);
  width: 15rem;
  border: 0;
  border-bottom: 2px solid var(--greytext);
  outline: 0;
  font-size: 1.05rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s, padding-bottom 0.2s, font-weight 0.2s;
  margin-bottom: 2rem;
}
.demande .demandeform .fieldattrb .fiettrb::-moz-placeholder {
  color: gray;
}
.demande .demandeform .fieldattrb .fiettrb::placeholder {
  color: gray;
}
.demande .demandeform .fieldattrb .fiettrb:focus {
  padding-bottom: 6px;
  font-weight: 400;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
     border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
  border-image-slice: 1;
}
.demande .demandeform .fieldattrb .fiettrbn {
  transform: translateY(-5rem);
  width: 37rem;
  border: 0;
  border-bottom: 2px solid var(--greytext);
  outline: 0;
  font-size: 1.05rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s, padding-bottom 0.2s, font-weight 0.2s;
}
.demande .demandeform .fieldattrb .fiettrbn::-moz-placeholder {
  color: gray;
}
.demande .demandeform .fieldattrb .fiettrbn::placeholder {
  color: gray;
}
.demande .demandeform .fieldattrb .fiettrbn:focus {
  padding-bottom: 6px;
  font-weight: 400;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
     border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
  border-image-slice: 1;
}
.demande .demandeform .fieldattrb .ttxtt {
  color: var(--whiteColor);
  font-size: 22px;
  font-family: 600;
  transform: translatey(30px);
}
.demande .demandeform .fieldattrb .tagimgg {
  font-size: 25px;
  color: hsl(173, 82%, 24%);
}
.demande .demandeform .fieldattrb .demandedesc {
  width: 40rem;
  height: 10rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
  margin-top: 3rem;
  background: hsl(173, 82%, 24%);
  border: solid 2px var(--whiteColor);
}
.demande .demandeform .fieldattrb .demandedesc:focus {
  border: solid 2px var(--mmy);
  outline: none;
}
.demande .demandeform .fieldattrb .demandedesc .ttxtt {
  transform: translateY(30px);
}
.demande .demandeform .fieldattrb .btdemande {
  transform: translate(27rem);
  margin-bottom: 5rem;
  width: 10rem;
  height: 3rem;
  border: none;
  background: var(--gradientColor);
  box-shadow: 1px 1px 4px var(--greytext);
  color: white;
  font-weight: 600;
  font-size: 18px;
  border-radius: 2rem;
  cursor: pointer;
}
.demande .demandeform .fieldattrb .btdemande:hover {
  background: var(--mm);
}/*# sourceMappingURL=demande.css.map */