:root {
  --PrimaryColor: hsl(199, 100%, 43%);
  --SecondryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(43, 100%, 43%), hsl(34, 94%, 45%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColordeam: hsl(0, 0%, 93%);
  --greytext: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 240);
  --cardBG: rgb(225, 225, 225);
  --mm: hsl(155, 70%, 30%);
  --cardHover: rgba(255, 255, 255);
  --mmm: hsl(155, 51%, 45%);
}

.mainf {
  width: 100%;
  transform: translateY(5rem);
}
.mainf .secTitlef {
  transform: translateY(-10px);
}
.mainf .secTitlef .icosearchh {
  margin-left: -1.8rem;
  margin-bottom: -0.5rem;
  font-size: 1.5rem;
  color: hsl(173, 82%, 24%);
}
.mainf .secTitlef .searchInput {
  width: 23rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
  height: 2.5rem;
  border: 0;
  border-bottom: 2px solid var(--greytext);
  outline: 0;
  font-size: 1.05rem;
  color: gray;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s, padding-bottom 0.2s, font-weight 0.2s;
}
.mainf .secTitlef .searchInput::-moz-placeholder {
  color: gray;
}
.mainf .secTitlef .searchInput::placeholder {
  color: gray;
}
.mainf .secTitlef .searchInput:focus {
  padding-bottom: 6px;
  font-weight: 400;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
     border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
  border-image-slice: 1;
}
.mainf .secTitlef .titlef {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  color: hsl(173, 82%, 24%);
  margin: 1rem 1rem;
  z-index: 2;
  margin-bottom: 3rem;
}
.mainf .secTitlef .titlef .iconf {
  transform: translateY(4px);
  font-size: 25px;
}
.mainf .secTitlef .titlef::after {
  position: absolute;
  content: "";
  background-color: hsl(173, 82%, 24%);
  height: 5px;
  right: 5px;
  bottom: -5px;
  z-index: 1;
}
.mainf .secContentf {
  justify-content: center;
  gap: 1.5rem;
  margin-left: 1.6rem;
}
.mainf .secContentf .singleDestinationf {
  height: 100%;
  display: grid;
  row-gap: 10px;
  border-radius: 10px;
  align-items: center;
  background: var(--whiteColor);
  box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
  overflow: hidden;
}
.mainf .secContentf .singleDestinationf:hover {
  background: var(--mmm);
  box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
  transition: 0.3S ease;
}
.mainf .secContentf .singleDestinationf .imageDivf {
  height: 180px;
  width: 100%;
  overflow: hidden;
}
.mainf .secContentf .singleDestinationf .imageDivf .imgf {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 2s ease;
}
.mainf .secContentf .singleDestinationf .imageDivf:hover imgf {
  transform: scale(1.1);
}
.mainf .secContentf .singleDestinationf .cardInfof {
  padding: 1rem;
  width: 15rem;
}
.mainf .secContentf .singleDestinationf .cardInfof .destTitlef {
  color: var(--blackColor);
  font-size: 1.25rem;
}
.mainf .secContentf .singleDestinationf .cardInfof .continentf {
  gap: 0.5rem;
  width: 30rem;
}
.mainf .secContentf .singleDestinationf .cardInfof .continentf .namef {
  color: var(--textColor);
  font-weight: 400;
  font-size: 14px;
  display: flex;
}
.mainf .secContentf .singleDestinationf .cardInfof .continentf .namef .iconf {
  color: var(--textColor);
  font-size: 18px;
}
.mainf .secContentf .singleDestinationf .cardInfof .feesf {
  width: 20rem;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem 0;
  border-top: 1.5px solid var(--greytext);
  border-bottom: 1.5px solid var(--greytext);
}
.mainf .secContentf .singleDestinationf .cardInfof .feesf .gradef {
  color: var(--textColor);
  max-width: 100px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
}
.mainf .secContentf .singleDestinationf .cardInfof .pricef {
  font-size: 2rem;
  color: var(--blackColor);
}
.mainf .secContentf .singleDestinationf .descf {
  font-size: 13.5px;
  color: var(--textColor);
  font-weight: 500;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  height: 5rem;
  margin-right: -6rem;
}
.mainf .secContentf .singleDestinationf .btn {
  margin-top: 1rem;
  color: var(--whiteColor);
  font-weight: 600;
  justify-content: space-between;
  gap: 0.5rem;
}
.mainf .secContentf .singleDestinationf .btn .icon {
  align-self: center;
  font-size: 18px;
}

@media screen and (min-width: 500px) {
  .titlef {
    font-size: 1.5rem;
  }
  .titlef::after {
    width: 500px !important;
  }
  .secContentf {
    grid-template-columns: repeat(4, 1fr);
  }
  .secContentf .singleDestinationf {
    height: auto;
  }
}/*# sourceMappingURL=fields.css.map */