:root {
  --PrimaryColor: hsl(199, 100%, 43%);
  --SecondryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(43, 100%, 43%), hsl(34, 94%, 45%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColordeam: hsl(0, 0%, 93%);
  --greytext: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 240);
  --cardBG: rgb(225, 225, 225);
  --mm: hsl(155, 27%, 45%);
  --cardHover: rgba(255, 255, 255);
  --mmm: hsl(155, 51%, 45%);
  --mmy: hsl(43, 100%, 43%);
  --mmr: hsl(0, 57%, 53%);
  --blackColor2: hsl(198, 19%, 45%);
  --whiteColordeam2: hsl(0, 60%, 99%);
  --blackColor3: hsl(153, 29%, 33%);
}

.matchattrib {
  transform: translateY(7rem);
  margin-left: -3rem;
  height: flex;
}
.matchattrib .matchinfo {
  width: 45rem;
  height: 35rem;
  margin-left: 2rem;
  background: var(--whiteColordeam);
  border-radius: 2rem;
  transform: translate(2.5rem, 1rem);
  box-shadow: 0 2px 4px rgba(2, 15, 29, 0.242);
}
.matchattrib .matchinfo .ffieldname {
  color: var(--mmy);
  font-size: 50px;
  transform: translate(0.5rem, 2rem);
  font-weight: 700;
  margin-left: 1rem;
}
.matchattrib .matchinfo .imgcreator {
  height: 3rem;
  width: 3rem;
  border-radius: 50rem;
  border: solid var(--mmy) 3px;
  transform: translate(25rem, -1rem);
}
.matchattrib .matchinfo .createdby {
  color: var(--blackColor);
  font-size: 28px;
  transform: translate(1.5rem, 2rem);
  font-weight: 500;
}
.matchattrib .matchinfo .infomatch {
  color: var(--blackColor);
  font-size: 21px;
  margin-bottom: 1rem;
  margin-left: 2rem;
  font-weight: 400;
}
.matchattrib .matchinfo .imgfield {
  width: 20rem;
  height: 12rem;
  transform: translate(22rem, -1rem);
  border: 2px solid white;
  border-radius: 1rem;
}
.matchattrib .players {
  width: 20rem;
  height: 35rem;
  transform: translate(51rem, -34rem);
  margin-bottom: -25rem;
  border-radius: 3.5rem;
  background: var(--mmm);
  box-shadow: 0 2px 4px rgba(2, 15, 29, 0.242);
  border: solid var(--whiteColor) 4px;
}
.matchattrib .players .infomatchh {
  color: white;
  font-size: 40px;
  margin-bottom: 2rem;
  margin-left: 0.5rem;
  transform: translate(5rem, 0.5rem);
}
.matchattrib .players .playernames {
  margin: 0 auto;
  color: rgb(39, 39, 39);
  font-weight: 500;
  border: solid var(--blackColor) 2px;
  width: 15rem;
  height: flex;
  margin-top: 0.5rem;
}
.matchattrib .joinbtn {
  transform: translate(56rem, -13rem);
  width: 10rem;
  height: 2.5rem;
  background: var(--gradientColor);
  border: 2.5px solid white;
  color: white;
  border-radius: 2rem;
}
.matchattrib .joinbtn:hover {
  background: var(--mmy);
}
.matchattrib .joinbtn2 {
  transform: translate(77.5rem, -25.5rem);
  width: 10rem;
  height: 2.5rem;
  background: var(--gradientColor);
  border: 2.5px solid white;
  color: white;
  border-radius: 2rem;
}
.matchattrib .joinbtn2:hover {
  background: var(--mmy);
}
.matchattrib .players2 {
  width: 20rem;
  height: 35rem;
  transform: translate(72rem, -46.5rem);
  margin-bottom: -25rem;
  border-radius: 3.5rem;
  background: var(--mmr);
  box-shadow: 0 2px 4px rgba(2, 15, 29, 0.242);
  border: solid var(--whiteColor) 4px;
}
.matchattrib .players2 .infomatchh2 {
  color: white;
  font-size: 40px;
  margin-bottom: 2rem;
  margin-left: 0.5rem;
  transform: translate(5rem, 0.5rem);
}
.matchattrib .players2 .playernames2 {
  margin: 0 auto;
  color: rgb(39, 39, 39);
  font-weight: 500;
  border: solid var(--blackColor) 2px;
  width: 15rem;
  height: flex;
  margin-top: 0.5rem;
}/*# sourceMappingURL=matchinfo.css.map */