:root {
    --PrimaryColor: hsl(199, 100%, 43%);
    --SecondryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(43, 100%, 43%), hsl(34, 94%, 45%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColordeam: hsl(0, 0%, 93%);
    --greytext: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 240);
    --cardBG: rgb(225, 225, 225);
    --mm: hsl(155, 27%, 45%);
    --cardHover: rgba(255, 255, 255);
    --mmm: hsl(155, 51%, 45%);
    --mmy: hsl(43, 100%, 43%);
    --mmr: hsl(0, 57%, 53%);
    --blackColor2: hsl(198, 19%, 45%);
    --whiteColordeam2: hsl(0, 60%, 99%);
    --blackColor3: hsl(153, 29%, 33%);
}

.matchattrib {
    transform: translateY(7rem);
    margin-left: -3rem;
    height: auto;
    display: flex;
    gap: 5rem;

    .matchinfo {
        width: 25rem;
        height: 37rem;
        margin-left: 1rem;
        border-radius: 2rem;
        border: var(--mmy) solid 5px;
        margin-top: 1rem;

        .ffieldname {
            color: var(--mmy);
            font-size: 55px;
            transform: translate(0.5rem, 1rem);
            font-weight: 700;
            margin-left: 1rem;
        }

        .createdby {
            color: var(--whiteColor);
            font-size: 28px;
            transform: translate(1.5rem, 2rem);
            font-weight: 500;
            margin-bottom: 3rem;
        }

        .infomatch {
            color: var(--whiteColor);
            font-size: 21px;
            margin-bottom: 1rem;
            margin-left: 2rem;
            font-weight: 400;
        }

        .imgfield {
            width: 20rem;
            height: 12rem;
            transform: translate(2rem, 0rem);
            border: 2px solid white;
            border-radius: 1rem;
        }
    }

    .teamTables {
        display: flex;
        gap: 2rem;
        margin-left: 3.5rem;

        .caption {
            color: var(--mmy);
            font-size: 37px;
            font-weight: 700;
            margin-bottom: 1rem;
        }

        .teamTable {
            width: 24rem;
            border-collapse: collapse;
            overflow: hidden;
            background: var(--whiteColordeam2);
            border-radius: 1rem;

            th, td {
                padding: 1rem;
                text-align: left;

            }

            th {
                background:hsl(173, 82%, 24%);
                color: var(--whiteColor);
                font-size: 1.3rem;
                font-weight: 700;
                text-transform: uppercase;
                                    text-align: center;

                
            }

            td {
                background: var(--whiteColor);
                color: var(--textColor);
                font-size: 1rem;
                font-weight: 400;

                &:nth-child(2) {
                    text-align: center;
                }
            }

            tr {
                &:nth-child(even) {
                    background: var(--inputColor);
                }
            }

            .tabtitrole, .tabtitname {
                height: 2rem;
                width: auto;
            }
        }
    }

    .teams {
        margin-top: 2rem;
        margin-left: 4rem;
        border-right: dotted var(--blackColor) 5px;
        height: 35rem;

        .teamslect {
            display: flex;
            gap: 4rem;

            .selctroleteam {
                width: 25rem;
                margin-bottom: 3rem;
                margin-left: 2rem;
                height: 2.5rem;
                border: 0;
                border-bottom: 2px solid var(--greytext);
                outline: 0;
                font-size: 1.05rem;
                color: gray;
                padding: 7px 0;
                background: transparent;
                transition: border-color 0.2s, padding-bottom 0.2s, font-weight 0.2s;
                transform: translateY(0.1rem);

                &::placeholder {
                    color: gray;
                }

                &:focus {
                    padding-bottom: 6px;
                    font-weight: 400;
                    border-width: 3px;
                    border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
                    border-image-slice: 1;
                }
            }

            .teambtnsjoin {
                display: flex;
                gap: 2rem;
                margin-right: 2rem;

                .joinbtn {
                    width: 12rem;
                    margin-top: 1rem;
                    background: transparent;
                    border: none;
                    color: hsl(173, 82%, 24%);
                    font-size: 20px;
                    font-weight: 700;

                    &:hover {
                        color: var(--mmr);
                    }
                }
            }
        }
    }
}
