:root {
    --PrimaryColor: hsl(199, 100%, 43%);
    --SecondryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(43, 100%, 43%), hsl(34, 94%, 45%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColordeam: hsl(0, 0%, 93%);
    --greytext: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 240);
    --cardBG: rgb(225, 225, 225);
    --mm: hsl(155, 70%, 30%);
    --mmm: hsl(155, 38%, 41%);
    --yyy: hsl(34, 65%, 57%);
    --w: hsl(0, 0%, 93%);

}


.bgl {
 
height: 100%;
width: 100%;


    .viddd {
        position: absolute;
        height:100%;
        width:63rem; 

          

     
        overflow: hidden;
        .videolog {
        position: absolute;
        width: 90rem;
        
       
    
        
        }

    }

    .logl {
        padding:113px;
        max-width: 38rem;
        margin-left: 60rem;    
        height: 41.5rem;
        box-shadow: 0 2px 4px rgba(2, 15, 29, 0.242);
        transform: translateY(4rem);



        .logtextl {
            margin-top: 1.75rem;
            margin-bottom: 1rem;
            font-size: 3rem;
            font-weight: 500;
            text-align: center;
            color: var(--whiteColor);
            transform: translate(1rem,-3rem);

        }

        .formtxtl {
            transform: translate(1.5rem,-2rem);
            display: flex;
            flex-direction: column;
            gap: 2rem;


           .inputtxtl {
                width: 100%;
                border: 0;
                border-bottom: 2px solid var(--greytext);
                outline: 0;
                font-size: 1.05rem;
                color: black;
                padding: 7px 0;
                background: transparent;
                transition: border-color 0.2s, padding-bottom 0.2s, font-weight 0.2s;
             

                &::placeholder {
                    color: gray;
                }

        
                &:focus {
                    padding-bottom: 6px;
                    font-weight: 400;
                    border-width: 3px;
                    border-image: linear-gradient(to right, hsl(173, 82%, 24%), hsl(173, 82%, 24%));
                    border-image-slice: 1;}

        
            }

            .btnlogl {
                padding: 0.75rem;
                border-radius: 1.5rem;
                background: var(--gradientColor);
                text-transform: uppercase;
                font-size: 700;
                font-size: 1rem;
                font-weight: 600;
                color: var(--whiteColor);
                border: none;
                outline: none;
                cursor: pointer;
                transform: translateY(1rem);

                &:hover.btnlog {
                    background: var(--yyy);
                }

            }

            .txtsigl {
                display: flex;
                margin-top: 1.25rem;
                gap: 0.5rem;
                color: white;
                transform: translateX(40px);

                span {
                    color: var(--mm);

                }

            }

        }

        .mt {
            color: white;
            font-weight: 600;
            text-align: center;
            transform: translateY(30px);


        }

    }
}