:root {
    --PrimaryColor: hsl(199, 100%, 43%);
    --SecondryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(43, 100%, 43%), hsl(34, 94%, 45%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColordeam: hsl(0, 0%, 93%);
    --greytext: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 240);
    --cardBG: rgb(225, 225, 225);
    --mm: hsl(155, 70%, 30%);
    --mmm: hsl(155, 38%, 41%);
    
}

;

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--whiteColordeam);
    width: 100%;
    padding: 1rem;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.242);


    .logo {
        color: var(--mmm);
        font-weight: 600;
        cursor: pointer;
        align-items: center;
        justify-content: center;

        .icon {
            font-size: 25px;
            color: var(--mmm);
            transform: translateY(5px);

        }
        .yt{
            font-size: 20px;
            font-weight: 400;
            color: var(--mmm);
            .ic{
                transform: translateY(3px);
                color:var(--mmm);
            }
        }
 

    }

    
}
@media screen and (min-width:769px)  {
    .toggleNavbar,.closeNavbar{
        display: none;
    }
    .header{
        padding: 1.5rem 2rem;

    }
   
    
}